<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cartoon Network</title>
  <link rel="stylesheet" type="text/css" href="index.css">  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <section class="intro">
    <div class="logo-wrapper">
      <div>
        <span class="c-logo">C</span>
        <span class="n-logo">N</span>
      </div>      
      <div class="logo-title">
        Cartoon Network <span class="trade">&trade;</span>
      </div>
    </div>
    <div class="proposal">
      Proposta de redesign da <br />
      Página de programação do <br />
      site da cartoon network <br />
    </div>
  </section>

  <section id="app" class="schedule">
    <div class="header">
      {{ getDayOfWeek('pt-br') }}, {{ currentDay }}
    </div>
    <div class="container">
      <ul class="schedule-list">
        <li class="hour"
            v-for="hour in scheduleHours"
            v-on:click="setSelected(hour)"
            v-bind:class="{'current-hour': (getCurrentHour() == hour.id), 'active': (getSelectedHour() == hour.id) }">

          {{hour.moment.hour() }}h
        </li>
        <li class="next-day" @click="nextDay()"></li>
      </ul>
      <div class="schedule-details"
           v-if="scheduledCartoons.length > 0"
           v-bind:class="currentColor">
      	<h2>{{scheduledCartoons[0].time.hour}}h</h2>
        <ul class="details-list">
          <li class="cartoon-item"
              @click="showModal = 'episode'; selectedCartoon = cartoon;"
              @mouseenter="onCartoonHover"
              @mouseleave="onCartoonHover"
              v-for="cartoon in scheduledCartoons">
              <span class="time">
                 {{ cartoon.time.hour }}:{{ cartoon.time.minutes }}
              </span>
              <figure class="thumbnail-wrapper">
                <img class="thumbnail" v-bind:src="cartoon.cartoon.thumbnail" />
              </figure>
              <h3 class="cartoon-title">
                {{ cartoon.cartoon.title }}
              </h3>
          </li>
        </ul>
      </div>
    </div>

    <div class="cartoon-gallery">
      <div class="arrow-container back" @click="previousCartoon()"></div>
      <ul class="cartoons-list">
        <li @click="selectedCartoon = cartoon; showModal = 'cartoon';"
            v-for="cartoon in cartoons.slice(galleryStart, galleryEnd)">
          <img class="gallery-img"
          		 v-bind:src="cartoon.thumbnail" />
        </li>
      </ul>
      <div class="arrow-container next" @click="nextCartoon()"></div>
    </div>

    <cartoon-episode-modal 
    	v-if="showModal == 'episode'"
    	v-bind:cartoon="selectedCartoon"
    	@close="showModal = null">
  	</cartoon-episode-modal>

    <cartoon-schedule-modal
    	v-if="showModal == 'cartoon'"
    	v-bind:cartoon="selectedCartoon"
    	@close="showModal = null">
  	</cartoon-schedule-modal>
  </section>

  <!-- CARTOON EPISODE MODAL -->
  <script type="text/x-template" id="cartoon-episode-modal">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper" @click="$emit('close')">
          <div class="modal-container pink" @click="$event.stopPropagation()">
            <div class="action-buttons">
              <div class="close blue" @click="$emit('close')">X</div>
            </div>
            <div class="modal-header yellow">
              <slot name="header">
                <figure class="modal-thumbnail blue">
                  <img v-bind:src="cartoon.cartoon.thumbnail" />
                </figure>
                <div class="cartoon-name blue">
                  <h2> {{ cartoon.cartoon.title 				}} </h2>
                  <h3> {{ cartoon.cartoon.originalTitle }} </h3>
                </div>
                <div class="classification"> 10 </div>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <div class="body-content">
                  <h4>Segunda, 18</h4>
                  Irmão do Jorel é irmão do Jorel, garoto mais popular
                  da escola, do bairro, da cidade e provavelmente do
                  universo por sua beleza exótica, talento descomunal
                  e cabelos sedosos... Mas isso não...
                </div>
              </slot>
              <div class="divisor"></div>
              <slot name="body">
                <div class="body-content">
                  Horário de Início/Fim: 17:30 - 17:45 <br />
                  Ano de produção: 2014 <br />
                  País de Origem: Brasil <br />
                  Classificação do conteúdo: Obra não publicitária brasileira, constituinte de espaço qualificado e independente. <br />
                  Classificação indicativa: 10 anos <br />
                  <br />
                  Genero: Animação/Comédia <br />
                  Diretor: Juliano Enrico <br />
                </div>
              </slot>
              <div class="divisor"></div>
            </div>            
          </div>
        </div>
      </div>
    </transition>
  </script>

  <!-- CARTOON SCHEDULE MODAL -->
  <script type="text/x-template" id="cartoon-schedule-modal">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper" @click="$emit('close')">
          <div class="modal-container wide blue" @click="$event.stopPropagation()">
            <div class="action-buttons">
              <div class="close pink" @click="$emit('close')">X</div>
            </div>
            <div class="modal-header yellow">
              <slot name="header">
                <figure class="modal-thumbnail pink">
                  <img v-bind:src="cartoon.thumbnail" />
                </figure>
                <div class="cartoon-name pink">
                  <h2> {{cartoon.title}} </h2>
                  <h3> {{cartoon.originalTitle}} </h3>
                </div>
                <div class="classification"> 10 </div>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <div class="body-content">
                  <div class="weekdays">
                  	<div class="weekday">
                  		<span>Domingo</span>
                  		<span> {{ getDayOfWeek(0) }} </span>
                  		<span> {{getTime(cartoon.schedule.sunday[0]) }} </span>
                  	</div>
                  	<div class="weekday">
                  		<span>Segunda</span>
                  		<span> {{ getDayOfWeek(1) }} </span>
                  		<span> {{ getTime(cartoon.schedule.monday[0]) }} </span>
                  	</div>
                  	<div class="weekday">
                  		<span>Terça</span>
                  		<span> {{ getDayOfWeek(2) }} </span>
                  		<span> {{ getTime(cartoon.schedule.tuesday[0]) }} </span>
                  	</div>
                  	<div class="weekday">
                  		<span>Quarta</span>
                  		<span> {{ getDayOfWeek(3) }} </span>
                  		<span> {{ getTime(cartoon.schedule.wednesday[0]) }} </span>
                  	</div>
                  	<div class="weekday">
                  		<span>Quinta</span>
                  		<span> {{ getDayOfWeek(4) }} </span>
                  		<span> {{ getTime(cartoon.schedule.thursday[0])}} </span>
                  	</div>
                  	<div class="weekday">
                  		<span>Sexta</span>
                  		<span> {{ getDayOfWeek(5) }} </span>
                  		<span> {{getTime(cartoon.schedule.friday[0])}} </span>
                  	</div>
                  	<div class="weekday">
                  		<span>Sábado</span>
                  		<span> {{ getDayOfWeek(6) }} </span>
                  		<span> {{ getTime(cartoon.schedule.saturday[0]) }} </span>
                  	</div>
                  </div>
                </div>
              </slot>
            </div>            
          </div>
        </div>
      </div>
    </transition>
  </script>

  <script src="assets/libs/lodash.min.js"></script>
  <script src="assets/libs/vue.js"></script>
  <script src="assets/libs/moment-with-locales.js"></script>
  <script src="seeds.js"></script>
  <script src="Cartoon.js"></script>
  <script src="app.js"></script>

</body>
</html>
